.timer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  font-weight: 600;
}
.timer h1 {
  font-family: "Orbitron", sans-serif;
}
.timer .MuiAlert-root {
  padding: 0;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main .swiper-slide {
  filter: blur(1px);
}
.main .swiper-slide-active {
  min-width: 100px !important;
  width: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.7));
  background-color: #eee;
}

.main .search {
  background-color: #f0f3ff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.main .search:hover {
  box-shadow: inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.main .search input {
  font-size: 20px;
  border: none;
  background: transparent;
  outline: none;
}
.main .search .active {
  width: 0px;
}