.conversation-list{
    display: inline-block;
    margin-left: 10px;
}
/* .conversation:hover{
    background: #00BFA6;
    color: #eeeeee;
} */
.conversation{
    display: inline-flex;  
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */

}
.conversation .img{
    margin-bottom: 2px;
    margin-top: 5px;
}
.conversation .title-text{
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    font-weight: bold;
}
.conversation .title-text > p{
    font-weight: 500;
    display: flex;
    justify-content: center;
    place-items: center;
    font-size: small;

}
.title-change{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #00BFA6;
    border-radius: 50%;
    top: 0.3rem;
    right: 0.5rem;
}
.title-back{
    background: #ffffff;
}